<h1>Listing sent_emails</h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Sent at</th>
      <th>Error type</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sent_emails.each do |sent_email| %>
      <tr>
        <td><%= sent_email.photo.nil? ? '' : sent_email.photo.title %></td>
        <td><%= sent_email.sent_at %></td>
        <td><%= sent_email.error_type %></td>
        <td><%= sent_email.title %></td>
        <td><%= link_to 'Show', sent_email %></td></td>
      </tr>
    <% end %>
  </tbody>
</table>
