<p id="notice"><%= notice %></p>

<p>
  <strong>Week number:</strong>
  <%= @week.week_number %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @week.subject %>
</p>

<%= link_to 'Edit', edit_week_path(@challenge_id, @week) %> |
<%= link_to 'Back', weeks_path(@challenge_id) %>
