<p>Dear<%= @photo.member.display_name %>,</p>
<p>
  Your image "<a href="<%= @photo.get_flickr_url %>"><%= @photo.title %></a>" has a tag  <%= @photo.tag %> which is
  the tag for the topic "<%= @photo.challenge.topic(@photo.tagged_as_week) %>". This photo was taken at <%= @photo.date_taken.to_formatted_s(:long_ordinal) %> in week <%= @photo.week.week_number %>
  so it should have the tag ch<%= @photo.challenge.year.year %>wk<%= @photo.week.week_number %> for the topic "<%= @photo.week.subject.strip %>".
</p>
<p>
  It would be very helpful if you would correct the tag.
</p>
<p>
  If you took this outside of the designated week, that isn't a big problem, just let me know by replying to this email.
</p>
<p>
  Thanks.
</p>
<p></em>Martin</em></p>
