<p id="notice"><%= notice %></p>

<p>
  <strong>When:</strong>
  <%= @event_log.when %>
</p>

<p>
  <strong>Message:</strong>
  <%= @event_log.message %>
</p>

<p>
  <strong>Backtrace:</strong>
  <%= @event_log.backtrace %>
</p>

<%= link_to 'Edit', edit_event_log_path(@event_log) %> |
<%= link_to 'Back', event_logs_path %>
