<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br>
    <%= select_year @challenge.year, :start_year => Time.now.year - 2, :end_year => Time.now.year + 2, :field_name => 'year(1i)', :prefix => :challenge %>
    <%= f.hidden_field 'year(2i)', value: 1 %>
    <%= f.hidden_field 'year(3i)', value: 1 %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url, size: 40 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
