<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr><th>Property</th><th>Value</th></tr>
  </thead>
  <tbody>
      <tr><td>nsid</td><td><%= @member.nsid %></td></tr>
      <tr><td>username</td><td><%= @member.username %></td></tr>
      <tr><td>member_type</td><td><%= @member.member_type %></td></tr>
      <tr><td>real_name</td><td><%= @member.real_name %></td></tr>
      <tr><td>email</td><td><%= @member.email %></td></tr>
  </tbody>
</table>

<%= link_to 'Back', challenge_members_path, :class => 'button' %>
